/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background-color: rgb(23, 25, 63);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(221, 192, 29);
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 60px 0;
    margin-top: 3rem;
    opacity: 0;
    transform: translateY(150px); /* Start slightly below */
    
}

section.animate {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.section-title {
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
    text-decoration: underline; /* Add an underline */
    text-decoration-color: rgb(221, 192, 29); /* Set the underline color to yellow */
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 10px; /* Add spacing between the text and the underline */
}

.section-title::before {
    counter-increment: sections;
    content: "0" counter(sections) ". ";
    color: rgb(221, 192, 29);
}


.section-title-ger {
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
    text-decoration: underline; /* Add an underline */
    text-decoration-color: rgb(221, 192, 29); /* Set the underline color to yellow */
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 10px; /* Add spacing between the text and the underline */
}

.section-title-ger::before {
    counter-increment: sections;
    content: "0" counter(sections) ". ";
    color: rgb(221, 192, 29);
}

.section-title-2 {
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
    text-decoration: underline; /* Add an underline */
    text-decoration-color: rgb(221, 192, 29); /* Set the underline color to yellow */
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 10px; /* Add spacing between the text and the underline */
}

.section-title-2::before {
    counter-increment: sections;
    content: "0" counter(sections) ". ";
    color: rgb(221, 192, 29);
}


.section-text {
    color:rgb(221, 192, 29);
    line-height: 1.7;
    font-size: 1.1rem;
}


.section-text-2 {
    color: white;
    font-family: Lato;
    line-height: 1.5rem;
    padding-top: 1rem;
}

.section-text-3 {
    color: white;
    font-family: Lato;
    margin-bottom: 1rem; /* Add spacing between paragraphs */
    line-height: 1.3rem;
}

.section-title-3 {
    font-weight: 600;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: underline; /* Add an underline */
    text-decoration-color: rgb(221, 192, 29); /* Set the underline color to yellow */
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 10px; /* Add spacing between the text and the underline */
}

.section-title-3::before {
    counter-increment: sections;
    content: "0" counter(sections) ". ";
    color: rgb(221, 192, 29);
}



/* --- Header & Navigation --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(23, 25, 63);
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

header.hidden {
    transform: translateY(-100%);
}

.nav-container {
    counter-reset: navigation;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

/* Logo Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8); /* Start smaller */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* End at normal size */
    }
}

/* Logo */

.logo img {
    width: 100px;
    height: auto;
    animation: fadeIn 1.5s ease forwards; /* Fade in on load */
    transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}

.logo img:hover {
    filter: drop-shadow(0 0 2px rgb(221, 192, 29)) drop-shadow(0 0 2px rgb(221, 192, 29)); /* Add glow around the shape */
}


.desktop-nav {
    display: none;
}

/* Navlinks Animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-80px); /* Start slightly above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

.nav-links a {
    opacity: 0; /* Start hidden */
    transform: translateY(-80px); /* Start slightly above */
    animation: slideDown 0.8s ease forwards; /* Apply the animation */
    font-size: 1.1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}


.nav-links a::before {
    counter-increment: navigation;
    content: "0" counter(navigation) ".";
    color: rgb(221, 192, 29);
    margin-right: 0.5rem;
}

.language-toggle {
    display: flex;
    gap: 0.5rem;
}

.lang-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

.lang-btn:hover {
    color: rgb(221, 192, 29);
    transform: translateY(-0.1rem);
}

/* --- Hamburger Menu --- */
.hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    padding: 10px;
}

.hamburger-icon span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

.menu-links {
    position: fixed;
    top: 80px;
    right: 0;
    background-color: rgb(23, 25, 63);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-links ul {
    counter-reset: menu-counter; /* Reset the counter */
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}


.menu-links.open {
    max-height: 500px;
}

.menu-links li {
    counter-increment: menu-counter; /* Increment the counter for each list item */
    margin-bottom: 1rem; /* Add spacing between menu items */
}

.menu-links a {
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.menu-links li a::before {
    content: "0" counter(menu-counter) "."; /* Display the counter */
    position: relative;
    left: 0; /* Position the counter to the left */
    color: rgb(221, 192, 29); /* Yellow color for the counter */
    font-weight: bold;
    margin-right: 0.5rem;
}

/* --- Profile Section --- */
#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
}

.profile-content {
    max-width: 600px;
}

.profile-title-1 {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.profile-title-2 {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#socials-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.icon {
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease;
}

.icon:hover {
    color: rgb(221, 192, 29);
}


/* --- About Section --- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    gap: 2rem;
    margin-top: 5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.about-text {
    max-width: 600px;
}

.about-tech-list li::before {
    content: "▹";
    color: rgb(221, 192, 29);
    position: absolute;
    left: -1rem;
}

.about-tech-list {
    list-style-type: none;
    display: grid; /* Make the list a grid container */
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 0.5rem; /* Add some spacing between items */
    padding-left: 0.5rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.about-tech-list li {
    padding-left: 0.5rem;
    position: relative;
    display: flex;
    align-items: baseline;
    color: white;
}

.about-image-container {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.about-image-container img {
    transition: filter 0.3s ease;
    filter: sepia(100%) hue-rotate(40deg) saturate(200%);
}

.about-image-container:hover img {
    filter: none;
}


/* --- Projects Section --- */

#projects {
    counter-increment: sections;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Abstand zwischen den Projekten */
}

.project-item {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    background-color: rgb(23, 25, 63);
    color: rgb(221, 192, 29);
    font-size: 1rem;
    font-family: "IBM Plex Mono";
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.project-title:hover {
    background-color: rgb(34, 36, 78);
}

.arrow-icon {
    font-size: 1rem;
    transition: transform 0.3s ease; /* Smooth rotation animation */
}

.project-title.open .arrow-icon {
    transform: rotate(180deg); /* Rotate the arrow when the project is open */
}

.project-details {
    display: none; /* Verstecke die Details standardmäßig */
    padding: 1rem;
    font-family: Lato;
    background-color: rgb(34, 36, 78);
}

.project-content {
    display: flex;
    flex-direction: column; /* Stack text and image vertically */
    align-items: flex-start; /* Align text and image at the top */
    gap: 1rem; /* Add spacing between text and image */
}

.project-text {
    flex: 1; /* Allow the text to take up available space */
    text-align: left;
}

.project-image-container {
    flex: 1; /* Allow the image to take up available space */
    flex-direction: column; /* Stack images vertically */
    gap: 1rem; /* Add spacing between the images */
    display: flex; /* Use Flexbox to align the image */
    justify-content: center; /* Center the image horizontally */
    align-items: flex-start; /* Align the image at the top */
}

.project-image {
    width: 100%; /* Ensure the image scales properly */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid rgb(221, 192, 29); /* Add a yellow outline */
    border-radius: 0.5rem; /* Optional: Add rounded corners */
    box-sizing: border-box; /* Ensure the border is included in the element's dimensions */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above all other content */
}

.lightbox img {
    max-width: 90%; /* Ensure the image fits within the viewport */
    max-height: 90%; /* Ensure the image fits within the viewport */
    border-radius: 0.5rem; /* Optional: Add rounded corners */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Add a shadow for emphasis */
    cursor: pointer; /* Indicate the image is clickable */
    border: 2px solid rgb(221, 192, 29); /* Add a yellow outline */
}

.project-skills {
    display: flex; /* Use Flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 0.5rem; /* Add spacing between skill items */
    justify-content: flex-start; /* Align items to the left */
    margin-top: 1.5rem; /* Vergrößert den Abstand oberhalb der Skills */
    margin-bottom: 1rem; /* Vergrößert den Abstand unterhalb der Skills */
}

.project-skills span{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(221, 192, 29);
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap; /* Prevent text from breaking inside the span */
}

.project-links {
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    gap: 1rem; /* Add spacing between the links */
}

.project-github-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.1rem;
    transition: color 0.3s ease, transform 0.3s ease; /* Add consistent transition */
}

.project-github-link .github-text {
    font-size: 0.8rem; /* Make the text smaller */
    transition: color 0.3s ease; /* Ensure the text color transitions smoothly */
}

.project-github-link:hover .github-text {
    color: rgb(221, 192, 29); /* Optional: Change text color on hover */
}


/* --- Contact Section --- */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    text-align: center;
}

.contact-content {
    max-width: 600px;
}

.contact-text {
    font-family: Lato;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.email-link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
    color: rgb(221, 192, 29);
    font-size: 1.2rem;
    border: 2px solid rgb(221, 192, 29);
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.email-link:hover {
    background-color: rgb(221, 192, 29);
    color: rgb(23, 25, 63);
}


/* --- Footer --- */
.section-text-foot {
    color:rgb(221, 192, 29);
    line-height: 1.7;
}

footer {
    font-size: 80%;
    text-align: center;
    padding: 2rem;
    background-color: rgb(23, 25, 63);
    color: #fff;
    margin-top: auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-links a {
    color: #fff;
}

.footer-links a:hover {
    color: rgb(221, 192, 29);
}

 /* Impressum & Datenschutz */

 .impressdat {
    padding-top: 5vh;
    margin: 0 10rem;
    box-sizing: border-box;
    flex: 1; /* Allow this section to grow and take up available space */
    min-height: auto; /* Ensure it doesn't force unnecessary height */
    height: auto; /* Remove any fixed height */
}

.datenschutz-content {
    color: white;
    line-height: 1.5;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 100px;  /* Add padding at the bottom */
}

.impressdat-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
    text-decoration: underline; /* Add an underline */
    text-decoration-color: rgb(221, 192, 29); /* Set the underline color to yellow */
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 10px; /* Add spacing between the text and the underline */
    }

.impressdat-title-2 {
    font-weight: 600;
    font-family: Lato;
    font-size: 1.2rem;
    color: white;
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}

.section-text-5 {
    color: white;
    font-family: Lato;
    font-size: 80%;
    line-height: 1.5;
    max-width: 100%;
    padding-top: 1rem;
}